User Define Function

its use to created by the user to perform specific tasks in a program. These are customized to meet the unique requirements of a program, enhancing code reusability, readability, and efficiency.

In [12]:
def new_function():
    print("I am nikhil")

In [13]:
new_function()

I am nikhil

In [14]:
def road_safty():
    print("Always wear healmet")
    print("license is mendeatory")
    print("RC is Require")

In [23]:
for i in range (3):
    a = input("Enter Your name" " ")           # {  " "  } it's use to take space in line
    b = input("Enter your age" " ")
    c = input("Enter vehical number" " ")
    road_safty()

Enter Your name  raman
Enter your age  34
Enter vehical number  rjxxxxxx89

Always wear healmet
license is mendeatory
RC is Require

Enter Your name  tanish
Enter your age  44
Enter vehical number  gjxxxxxx90

Always wear healmet
license is mendeatory
RC is Require

Enter Your name  surya
Enter your age  39
Enter vehical number  TLxxxxxx45

Always wear healmet
license is mendeatory
RC is Require

In [24]:
def even_odd_cheaker(number):
    if number%2==0:
        print("number is even")
    else:
        print("number is odd")

In [25]:
even_odd_cheaker(62787)

number is odd

In [26]:
def name():
    print("Hello user i am nikhil")

In [11]:
name()

Hello user i am nikhil

In [36]:
def my_name(fname, lname):   
    print(fname +  lname)

In [39]:
my_name("nikhil","kumar")

nikhilkumar

Q1: find average exam score 
    find highest exam score 
    find lowest exam score
    find number of student who passed the exam 
    find number of student who failed the exam 
    exam_scores = [85, 92, 78, 90, 88, 95, 82, 79, 87, 91]

In [68]:
exam_scores = [85, 92, 78, 90, 88, 95, 82, 79, 87, 91]
def calcuate_exam_data(exam_score):   
    num_student = len(exam_scores)
    average_score = sum(exam_scores)/num_student
    highest_score = max(exam_scores)
    lowest_score = min(exam_scores)

    num_passed = 0
    for scores in exam_scores:
        if scores>=80:
            num_passed = num_passed +1
    num_failed = num_student - num_passed
    return average_score, highest_score, lowest_score, num_passed, num_failed

In [71]:
exam_scores = [85, 92, 78, 90, 88, 95, 82, 79, 87, 91]
average_score, highest_score, lowest_score, num_passed, num_failed = calculate_exam_data(exam_scores)

print("The average score is", average_score)
print("The highest score is", highest_score)
print("The lowest score is", lowest_score)
print("The number of student passed in", num_passed)
print("The number of student failed in", num_failed)

The average score is 86.7
The highest score is 95
The lowest score is 78
The number of student passed in 8
The number of student failed in 2