In [1]:
# # My introduction 
print("nikhil")
Age = 18
print(Age)

nikhil
18

In [2]:
a = 10
b = 2.7
c = "Nikhil"
print(a,b,c)

10 2.7 Nikhil

In [3]:
y = ("Here first class of python")
print(y)

Here first class of python

In [5]:
%whos

Variable   Type     Data/Info
-----------------------------
Age        int      18
a          int      10
b          float    2.7
c          str      Nikhil
y          str      Here first class of python

Data type of Python

In [6]:
a = 2
b = 2.8
c = ("bajrang")
print(a)
print(type(a))
print(b)
print(type(b))
print(c)
print(type(c))

2
<class 'int'>
2.8
<class 'float'>
bajrang
<class 'str'>

In [7]:
d = 3+9j
print(d)
type(d)

(3+9j)

complex

In [8]:
num = (1,2,3,5,6,4,7,8,9)
print(num)
type(num)

(1, 2, 3, 5, 6, 4, 7, 8, 9)

tuple

In [9]:
num = {1,2,3,5,6,4,7,8,9}
print(num)
type(num)

{1, 2, 3, 4, 5, 6, 7, 8, 9}

set

In [10]:
num = [1,2,3,5,6,4,7,8,9]
print(num)
print(type(num))

[1, 2, 3, 5, 6, 4, 7, 8, 9]
<class 'list'>

In [11]:
num1 = True
print(type(num1))

<class 'bool'>

In [13]:
num1 = False
print(type(num1))

<class 'bool'>

In [14]:
first_name = "John"
last_name = "Doe"
 
full_name = first_name + last_name
print(full_name)

JohnDoe

In [25]:
first_name = "John"
last_name = "Doe"
 
full_name = first_name +" "+last_name
print(full_name)

John Doe

In [27]:
x = 15
x = 18     #reasign the value 
print(x)

18

In [30]:
myVariable123=15
print(myVariable123)

15