
For loop

In Python, a for loop is used to iterate over a sequence (like a list, tuple, string, dictionary, or range) and execute a block of code for each item in the sequence.

In [4]:
num = [1,2,3,4,5]
for i in num:
    print(i)

1
2
3
4
5

In [7]:
a = "student"
for i in a:
 print(i)

s
t
u
d
e
n
t

In [9]:
for i in range(11):
    print(i)

0
1
2
3
4
5
6
7
8
9
10

for and if condition

In [13]:
for i in range(0,26):
    if i%2 == 0:
        print("The number is even",i)
    else:
        print("The number is odd",i)

The number is even 0
The number is odd 1
The number is even 2
The number is odd 3
The number is even 4
The number is odd 5
The number is even 6
The number is odd 7
The number is even 8
The number is odd 9
The number is even 10
The number is odd 11
The number is even 12
The number is odd 13
The number is even 14
The number is odd 15
The number is even 16
The number is odd 17
The number is even 18
The number is odd 19
The number is even 20
The number is odd 21
The number is even 22
The number is odd 23
The number is even 24
The number is odd 25

Table

In [4]:
number = int(input("Enter a number to generate a table")) 
print("The multiplication table of",number)

for i in range(1,11):
    print(f"{number} X {i} = {number*i}")

Enter a number to generate a table 78

The multiplication table of 78
78 X 1 = 78
78 X 2 = 156
78 X 3 = 234
78 X 4 = 312
78 X 5 = 390
78 X 6 = 468
78 X 7 = 546
78 X 8 = 624
78 X 9 = 702
78 X 10 = 780

You are tasked with creating a program to assist shoppers in calculating their total bill at a grocery store. 
The store offers discounts based on the total purchase amount.
Your task is to implement a python program that takes the price of each item purchased and calculates the totel bill, including any applicable discounts.

The store offers the following discount rates based on the total purchase amount:

If the totel purchase amount is $100 or more, the customer receives a 10% discount.

If the totel purchase amount is $50 and $99.99, the customer receives a 5% discount.

Write a python program to prompt the user to enter the prices of the items they purchased. 
use a for loop to iterate throught the prices entered and calculqte the subtotal.
Apply the appropriate discount based on the total purchase amount using if-else statements.
Finally print out the subtotal discount amount 
(ifany), and the total bill after applying yhe discount

In [23]:
num_item = int(input("Enter the user item purchase"))      
total_price = 0

for i in range(num_item):
    price = float(input("Enter the price of the item"))
    total_price = total_price + price
    i = i+1

if total_price >=100:
    discount = 0.1*total_price
elif 50<total+price:
    discount = 0.05*total_price
else:
    discount = 0
total_bill = total_price - discount
print("subtotal",total_bill)

Enter the user item purchase 3
Enter the price of the item 100
Enter the price of the item 25
Enter the price of the item 52

subtotal 159.3

break statement

In [26]:
for i in range(11):
    if i == 7:
        break
    print(i)

0
1
2
3
4
5
6

In [32]:
for i in range(11):
    if i == 7:
        continue
    print(i)
print("Hurry")

0
1
2
3
4
5
6
8
9
10
Hurry